[Unit]
Description=Yoctopuce VirtualHub v2
After=network.target

[Service]
ExecStart=/usr/sbin/VirtualHub-V2 -c /etc/vhub-v2.byn
Type=simple

[Install]
WantedBy=multi-user.target
